@import './general.css';
@import './header.css';
@import './footer.css';
@import './home.css';

.main {
    flex: 1 1 auto;
}

.section {
    padding: 32px 0;
}

.last-posts-section {
    padding-top: 70px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.latest {
    margin: 30px auto;  
}

.popular {
    margin: 0 auto 30px;
}

.latest-posts, .popular-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 2px;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 56px 0;   
    }

    .last-posts-section {
        padding-top: 70px;
    }

    .container {
        max-width: 1440px;
        padding: 0 32px;
    }

    .latest-posts, .popular-posts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    .section {
        padding: 80px 0;
    }

    .last-posts-section {
        padding-top: 120px;
    }

    .container {
        max-width: 1128px;
        padding: 0;
    }
}
