.latest{
    margin: 30px auto;  
}

.latest-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 2px;
}

@media screen and (min-width: 768px)  {
    .latest-posts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}